@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("index.css");

#box-main {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.menu-steps {
    height: 100vh;
    min-width: 29%;
    background-image: url("/assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
}
.btn-person {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--purplish-blue);
    border: 1px solid var(--white);
    color: var(--white);
   
}
.btn-person:hover {
    background-color: var(--light-blue);
    color: var(--cool-gray);
}

.menu-steps .aling-elements {
    width: 200px;
    margin-left: 2rem;
}
.menu-steps p{
    width: 90px;
    margin-bottom: 0;
    color: var(--white);
}
.menu-steps .color-text {
    color: var(--pastel-blue);
}
.menu-steps span {
    margin-left: 0;
}

.main-right {

    margin: 0 auto;
    width: 50%;
}
.main-right h1 {
    margin-top: 6rem;
    color: var(--marine-blue);
}
.main-right p{
   color: var(--pastel-blue);
   margin-bottom: 1.9rem;
}
.main-right form,button {
    color: var(--marine-blue);

}

.main-right form button{
    margin-top: 6rem;
    float: right;
    background-color: var(--marine-blue);
    color: var(--white);
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 8px;
}
.form-control:focus {
    border-color: purple !important; 
    box-shadow: none !important; 
    outline: none !important;
}






/* responsividade pagina geral*/

@media (max-width: 768px) {

    

    .container-fluid {
        flex-direction: column; 
        
    }
    
    #aside-mobile-style  {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly;
        gap: 1px;
        width: 100vw !important;
        height: 25vh;
        background-image: url("/assets/images/bg-sidebar-mobile.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #box-menu-1, #box-menu-2, #box-menu-3, #box-menu-4 {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 0;
        width: auto;
        margin: 0;
        margin-top: -1rem;
       
    }
    #box-menu-1 {
        padding-left: 5rem;
    }
    #box-menu-4 {
        padding-right: 5rem;
    }
    
    .btn-person {
        margin: 0 5px;
        padding: 0;
    }
    
    #aside-mobile-style  > span, p{
        display: none;
        margin: 0;
        padding: 0;
    }
   
    .btn-person {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;

    }

    .main-right {
        background-color: var(--white);
        border-radius: 10px;
        width: 90%; 
        position: absolute; 
        top: 8rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-right .form-initial {
        width: 90%;
        margin: 0 auto;
    }
    .main-right h1 {
        margin-top: 2rem; 
        margin-left: 1.2rem;
    }
    .main-right #text-mobile {
        display: flex;
        margin-left: 1.2rem;
        width: 80%;
    }
    
}

