@import url("index.css");



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    background-color: hsl(213, 96%, 18%);
  }
  
  .card {
    max-width: 250px;
    height: 190px;
  }
  .card-body {
    border-radius: 8px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .custom-border {
    border: 1px solid white;
  }
 .custom-border:hover {
    border-color: purple;
 } 

 .custom-borda {
  border: 1px solid purple !important;
 }
#btn-back {
  background-color: white;
  color: var(--marine-blue);
}


/*Estilos aplicdos pelo js do toggle*/
.active {
    font-weight: bold; /* Usando <strong> no CSS */
    color: hsl(213, 96%, 18%); /* Cor quando ativo */
  }
  
.inactive {
    color: #ccc; /* Cor quando inativo */
  }
  